#chartdiv {
  width: 600px;
  height: 400px;

  margin-left: -23px;
  margin-right: -25px;
}

#chartdiv.empty {
  /* Background created using https://www.magicpattern.design/tools/css-backgrounds */
  background-color: #ffffff;
  opacity: 0.4;
  background-image: linear-gradient(#adadad 2px, transparent 2px),
    linear-gradient(90deg, #adadad 2px, transparent 2px),
    linear-gradient(#adadad 1px, transparent 1px),
    linear-gradient(90deg, #adadad 1px, #ffffff 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
